<ngx-datatable
  [rowDraggable]="true"
  class="material expandable"
  [rows]="dataSource"
  groupRowsBy="statementDate"
  [groupExpansionDefault]="true"
  [columnMode]="ColumnMode.force"
  [headerHeight]="40"
  [rowHeight]="40"
  [scrollbarH]="true"
  (rowDrag)="onRowDrag($event)"
>
  <ngx-datatable-group-header #myGroupHeader [rowHeight]="50">
    <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
      <div class="px-2 bg-secondary">
        <b>{{ group.value[0].statementDate | date }}</b>
        <span>{{ group.value[0].balanceStart | currency }}</span>
        <ngx-datatable-column name="Cheque No." prop="payment">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{ value.chequeNo }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Doc No." prop="documentNo"></ngx-datatable-column>

        <ngx-datatable-column name="Partner" prop="selectedPartner">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{ value.text }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Payment" prop="paymentAmount"> </ngx-datatable-column>
        <ngx-datatable-column name="Receipt" prop="receiptAmount"></ngx-datatable-column>
        <ngx-datatable-column name="Balance" prop="balanceAmount"></ngx-datatable-column>
        <ngx-datatable-column name="Remark" prop="remark"></ngx-datatable-column>
      </div>
    </ng-template>
  </ngx-datatable-group-header>

  <ngx-datatable-column name="Cheque No." prop="payment">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{ value.chequeNo }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Doc No." prop="documentNo"></ngx-datatable-column>

  <ngx-datatable-column name="Partner" prop="selectedPartner">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{ value.text }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Payment" prop="paymentAmount"> </ngx-datatable-column>
  <ngx-datatable-column name="Receipt" prop="receiptAmount"></ngx-datatable-column>
  <ngx-datatable-column name="Balance" prop="balanceAmount"></ngx-datatable-column>
  <ngx-datatable-column name="Remark" prop="remark"></ngx-datatable-column>
</ngx-datatable>
